{% extends  'product/base.html' %}

{% block title %}Products{% endblock title %}

{% block navigation %}
				<a class="flex-sm-fill text-sm-center nav-link" href="{% url 'Start Page' %}">Start page</a>
				<a class="flex-sm-fill text-sm-center nav-link" href="{% url 'product:store_offers' %}">Store</a>
                <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'product:new_product' %}">New product</a>
				<a class="flex-sm-fill text-sm-center nav-link" href="{% url 'product:returning_list' %}">Purchase returns</a>
				{% endblock navigation %}


{% block Main_page %}

    <br><br>
    <form class="container" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <button class="btn btn-primary">Create</button>
    </form>

{% endblock Main_page %}